.menuItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	margin: 0 20px;
}

.text {
	text-transform: uppercase;
	color: black;
	margin: 5px 0;
	font-size: 12px;
}
