.menuItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	cursor: pointer;
	color: currentColor;
}

.menuItem svg {
	width: 24px;
	height: 24px;
}

.menuItem svg path {
	stroke: currentColor;
}

.text {
	text-transform: uppercase;
	margin: 5px 0;
	font-size: 12px;
	color: currentColor;
}
