h3 {
	margin: 0 0 25px 0;
}

.projects {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin: 0 0 25px 0;
}

.project > img {
	width: 250px;
}

.project > h5 {
	margin: 15px 0 5px 0;
}

.project > p {
	margin: 0;
}

a {
	color: var(--blue-primary);
	text-decoration: none;
}
