.courseCard {
	display: flex;
	align-items: center;
	position: relative;
	box-shadow: inset -7px 0 70px -7px rgb(24, 24, 24, 0);
}

.courseCard > span {
	display: none;
}

.courseCard:hover span {
	display: block;
	position: absolute;
	z-index: 10;
	top: 19px;
	left: 30px;
}

.courseCard > img {
	width: 80px;
	height: 52px;
	margin-right: 15px;
}

p {
	margin: 0;
}

.title {
	position: relative;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	max-height: 36px;
	width: 100%;
	margin-bottom: 5px;
	overflow: hidden;
}

.viewers {
	font-size: 10px;
	line-height: 15px;
}
