.profile {
	display: flex;
	align-items: center;
	padding: 19px 30px 18px 30px;
}

.profileInformation {
	padding: 0 15px;
	display: grid;
	gap: 10px;
}

.profileName {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
}

.profileDescription {
	text-transform: uppercase;
	color: var(--black-primary);
	opacity: 0.2;
	font-size: 12px;
}

.profileViewsAndGrowth {
	display: flex;
	line-height: 12px;
}

.profileViews {
	color: var(--grey-secondary);
	font-size: 12px;
	font-weight: 400;
}

.profileGrowth {
	color: var(--green-primary);
	font-size: 12px;
	font-weight: 500;
	display: flex;
	align-items: center;
}
