.searchModalBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--black-primary);
	opacity: 0.6;
}

.searchModal {
	position: absolute;
	top: 0;
	background-color: var(--white-primary);
	width: 368px;
	transform: translateX(-40px);
	overflow-y: auto;
}

.searchModal::-webkit-scrollbar {
	width: 10px;
}

.searchBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 22px 30px;
	border-bottom: 1px solid var(--grey-primary);
}

.searchBar > input {
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 16px;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

.searchBar > svg {
	width: 16px;
	height: 16px;
	color: var(--white-primary);
	background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
	border-radius: 4px;
	padding: 10px;
	cursor: pointer;
}

.scrollModal {
	max-height: 80vh;
	overflow-y: auto;
}

.searchJobs,
.searchUsers,
.searchArticles {
	margin: 0px 30px;
	padding: 20px 0;
	border-bottom: 1px solid var(--grey-primary);
}

.searchJobsTitle,
.searchUsersTitle,
.searchArticlesTitle {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
	color: var(--black-primary);
	opacity: 0.2;
	padding: 5px 0 15px 0;
	margin: 0;
}

.searchJob {
	padding-bottom: 10px;
}

.searchJobs > a,
.searchUsers > a,
.searchArticles > a {
	text-transform: uppercase;
	cursor: pointer;
	color: var(--blue-primary);
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
}

.searchUser {
	padding: 15px 30px 15px 15px;
	border: 1px solid var(--grey-primary);
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 4px;
}

.searchUser:nth-child(2) {
	margin-bottom: 15px;
}

.searchArticle {
	cursor: pointer;
	border-radius: 4px;
	padding: 15px 30px 15px 15px;
	border: 1px solid var(--grey-primary);
	margin-bottom: 15px;
}

.searchUser:hover,
.searchArticle:hover {
	border: 1px solid var(--black-primary);
}
