.profile {
	display: flex;
	align-items: center;
	flex: 1;
	padding: 0 30px;
}

.profileInformation {
	padding: 0 15px;
}

.profileInfo > svg {
	width: 42px;
}

.profileName {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 21px;
}

.profileDescription {
	text-transform: uppercase;
	color: lightgray;
	font-size: 12px;
}

.profileViewsAndGrowth {
	display: flex;
	line-height: 22px;
}

.profileViews {
	color: gray;
	font-size: 12px;
	font-family: 'Gotham Pro', sans-serif;
	font-style: normal;
}

.profileGrowth {
	color: #02b033;
	font-size: 12px;
	display: flex;
	align-items: center;
}
