.profileCard {
	display: flex;
	align-items: center;
}

.profileCard > img {
	width: 52px;
	height: 52px;
}

.profileCardPicture {
	margin-right: 15px;
}

.profileName {
	font-size: 14px;
	font-weight: bold;
	line-height: 13.4px;
	color: var(--black-primary);
	margin-bottom: 5px;
}

.profileDescription {
	width: 150px;
	font-size: 10px;
	line-height: 15px;
	color: var(--black-primary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
