.sectionSeparator {
	display: block;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

.sectionSeparator .sectionSeparatorContent {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	width: 100%;
}

.sectionSeparatorContent::before,
.sectionSeparatorContent::after {
	content: '';
	width: 39%;
	height: 1px;
	background: var(--grey-senary);
}

.sectionSeparatorContent > * {
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	margin: 0;
}

.sectionSeparatorContent > a {
	text-decoration: none;
	color: var(--blue-primary);
}

.sectionSeparatorContent > a:hover {
	text-decoration: underline;
	cursor: pointer;
}
