.feedMain {
	display: flex;
	flex-direction: column;
	background-color: lightblue;
	gap: 20px;
}

.separatorSelect {
	outline: none;
	border: none;
	background: transparent;
	color: var(--blue-primary);
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}
