@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

:root {
	--grey-primary: #f4f4f4;
	--grey-secondary: #747474;
	--grey-tertiary: #cecece;
	--green-primary: #02b033;
	--black-primary: #181818;
}

body {
	margin: 0;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}
