.userInfo {
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 4px;
}

.userInfo.primary {
	background-color: var(--white-primary);
}

.userInfo.secondary {
	background-color: var(--white-secondary);
}

.userInfo > img {
	width: 52px;
	height: 52px;
}

.userInfoPicture {
	margin-right: 15px;
}

.userName {
	font-size: 14px;
	font-weight: 700;
	line-height: 13.4px;
	color: var(--black-primary);
	margin-bottom: 5px;
}

.userDescription {
	width: 150px;
	font-size: 10px;
	line-height: 15px;
	font-weight: 500;
	color: var(--black-primary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 5px;
}

.userInfo .connections {
	color: var(--blue-primary);
	font-size: 10px;
	line-height: 15px;
	font-weight: 500;
}
